In [4]:
import pandas as pd
import numpy as np

from persiantools.jdatetime import JalaliDate

In [23]:
data_df = pd.read_csv('../data/1k_refah_db.zip')
data_df

,ID,ParentID,BirthDate,GenderId,postalcode,Provincename,countyname,isurban,AmCrdtr_95,Amdbtr_95,...,Cars_Count,CarsPrice_Sum,Trips_Count_AirNotPilgrimage,Trips_Count_NotAirNotPilgrimage,Trips_Count_AirPilgrimage,Trips_Count_NotAirPilgrimage,HasMojavezSenfi,Senf,HasBimeSalamat,BimeSalmat_Type
0,8520256269,7449267102,1985-09-08,1,335414.0,تهران,شهريار,True,125000000,92500000,...,0,0,0,0,0,0,0,NaN,1,بيمه سلامت همگاني
1,10457574042,10457574042,1985-03-21,1,316985.0,تهران,ملارد,False,400000000,400000000,...,0,0,0,0,0,0,0,NaN,0,NaN
2,5751344967,7533816441,1980-09-16,1,1475984.0,تهران,تهران,True,2500000000,2500000000,...,1,377952116,0,1,0,0,1,خرده فروشي گياهان دارويي,0,NaN
3,12494345556,9774300678,2018-10-29,2,9417883.0,خراسان شمالي,بجنورد,False,0,0,...,0,0,0,0,0,0,0,NaN,0,NaN
4,4014326052,6733056921,2002-11-16,2,4617949.0,مازندران,آمل,True,25000000,30000000,...,0,0,0,0,0,0,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29567,6237093738,8377263603,1970-10-24,2,514493.0,آذربايجان شرقي,تبريز,True,0,0,...,0,0,0,0,0,0,0,NaN,0,NaN
29568,7496312634,2274464361,1983-03-10,2,5619747.0,اردبيل,اردبيل,True,0,0,...,0,0,0,0,0,0,0,NaN,0,NaN
29569,10081771527,6085494270,2008-03-06,2,3754167.0,تهران,قدس,True,0,0,...,0,0,0,0,0,0,0,NaN,0,NaN
29570,2941478724,306509133,1970-07-23,2,6444133.0,خوزستان,دشت آزادگان,False,0,0,...,0,0,0,0,0,0,0,NaN,1,روستاييان
29571,559611768,5730692406,1985-06-26,2,691787.0,لرستان,بروجرد,False,132500000,65000000,...,0,0,0,0,0,0,0,NaN,1,روستاييان

In [26]:
def convert_to_datetime(x, limit):
    try:
        r = pd.to_datetime(x)
        if r > limit:
            return None
        return r
    except:
        return None

In [28]:
data_df['BirthDate'] = data_df['BirthDate'].apply(
    lambda x: convert_to_datetime(x, JalaliDate(year=1399, month=6, day=1))
)

In [29]:
na_df = data_df[['ParentID', 'BirthDate', 'postalcode']]\
                    .groupby('ParentID')\
                    .agg(lambda x: x.isna().sum())

In [30]:
drop_hhid = set(na_df[na_df.sum(axis=1) > 0].index.values)

In [31]:
data_df = data_df[[i not in drop_hhid for i in data_df['ParentID']]]

In [34]:
data_df['ParentID'].nunique()

9473

In [35]:
data_df.to_csv('../data/1k_refah_db_clean.zip', index=False, compression={
    'method': 'zip', 'archive_name': '1k_refah_db_clean.csv'
})